Komponenten/TMS FNC Cloud Pack__/
Komponenten/TMS FNC Cloud Pack/
Komponenten/TMS FNC Cloud Pack v2.5.0.2 (21 Dec 2022) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/ASS/BasCloud/App/Android64/
Projekt/ASS/BasCloud/App/Form/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Android/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Communication/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/const/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Datenmodul/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/dcu/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Form/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Objekt/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Thread/__history/
Projekt/ASS/Optima/Webservice/__history/
Projekt/ASS/Optima/Webservice/bin/
Projekt/ASS/Optima/Webservice/Datenbank/__history/
Projekt/ASS/Optima/Webservice/dcu/
Projekt/ASS/Optima/Webservice/Form/__history/
Projekt/ASS/Optima/Webservice/Json/__history/
Projekt/ASS/Optima/Webservice/Objekt/__history/
Projekt/Projekte/PhotoOrga/__history/
Projekt/Projekte/PhotoOrga/Android/
Projekt/Projekte/PhotoOrga/Android64/
Projekt/Projekte/PhotoOrga/Datenmodul/__history/
Projekt/Projekte/PhotoOrga/DB/__history/
Projekt/Projekte/PhotoOrga/dcu/
Projekt/Projekte/PhotoOrga/Form/__history/
Projekt/Projekte/PhotoOrga/Frame/__history/
Projekt/Projekte/PhotoOrga/Objekt/__history/
Projekt/Projekte/PhotoOrga/Thread/__history/
Projekt/Projekte/PhotoOrga/Win32/
Projekt/Projekte/PhotoOrga/types/__history/
Projekt/ASS/OptimaAPP.zip
Projekt/ASS/Mobile_Komponenten/Kastri/Tools/StyleToFSF.exe
Projekt/Projekte/PhotoOrga/bin/
Projekt/BasCloud/App/Android64/
Projekt/BasCloud/App/Bilder/AppIcon/Android/
Projekt/BasCloud/App/Form/__history/
Projekt/BasCloud/App/Datenbank/BasCloud_save.db
Projekt/BasCloud/App/Datenbank/BasCloud_save2.db
Projekt/BasCloud/App/Datenbank/BasCloud_save3.db
Projekt/BasCloud/App/Datenbank/BasCloud.db
Projekt/Mobile_Komponenten/Kastri/ThirdParty/iOS/MLKitBarcodeScanning.framework.zip
Projekt/Mobile_Komponenten/Kastri/Tools/StyleToFSF.exe
Projekt/Mobile_Komponenten/Kastri/ThirdParty/OpenSSL/1.0.2o/iOS/libcrypto.a
Projekt/Mobile_Komponenten/Kastri/ThirdParty/Firebase/iOS/Firebase.6.18.0.zip
Projekt/Mobile_Komponenten/Kastri/ThirdParty/iOS/
Projekt/Mobile_Komponenten/Kastri/ThirdParty/GoogleMobileAds/
Projekt/Optima/Mobile/BestellApp-FPZ/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Android/
Projekt/Optima/Mobile/BestellApp-FPZ/Communication/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/const/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Datenmodul/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/dcu/
Projekt/Optima/Mobile/BestellApp-FPZ/Form/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Objekt/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Thread/__history/
Projekt/Optima/Webservice/__history/
Projekt/Optima/Webservice/bin/
Projekt/Optima/Webservice/Datenbank/__history/
Projekt/Optima/Webservice/dcu/
Projekt/Optima/Webservice/Form/__history/
Projekt/Optima/Webservice/Json/__history/
Projekt/Optima/Webservice/Objekt/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/bin/
Projekt/OptimaAPP.zip
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save.db
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save2.db
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save3.db
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/Firebase/iOS/Firebase.6.18.0.zip
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/GoogleMobileAds/
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/iOS/
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/OpenSSL/1.0.2o/iOS/libcrypto.a
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/bin/
Projekt/Projekte/PhotoOrga_Alt/__history/
Projekt/Projekte/PhotoOrga_Alt/Android/
Projekt/Projekte/PhotoOrga_Alt/Android64/
Projekt/Projekte/PhotoOrga_Alt/bin/
Projekt/Projekte/PhotoOrga_Alt/Datenmodul/__history/
Projekt/Projekte/PhotoOrga_Alt/DB/__history/
Projekt/Projekte/PhotoOrga_Alt/dcu/
Projekt/Projekte/PhotoOrga_Alt/Form/__history/
Projekt/Projekte/PhotoOrga_Alt/Frame/__history/
Projekt/Projekte/PhotoOrga_Alt/Objekt/__history/
Projekt/Projekte/PhotoOrga_Alt/Thread/__history/
Projekt/Projekte/PhotoOrga_Alt/types/__history/
Projekt/Projekte/PhotoOrga_Alt/Win32/
Test/delphi-android-SAF-main/__history/
Test/delphi-android-SAF-main/Android64/
Test/delphi-android-SAF-main_Save/__history/
Test/delphi-android-SAF-main_Save/Android64/
Test/Gesten/Image/Test 1/__history/
Test/Gesten/Image/Test 1/Android/
Test/JPG/JPGInfo/Test 2/__history/
Test/JPG/JPGInfo/Test 2/Win32/
Test/Mobile/EXIF/Test 1/__history/
Test/Mobile/EXIF/Test 1/Android64/
Test/Mobile/Folder/Test 1/__history/
Test/Mobile/Folder/Test 1/Android/
Test/Mobile/Folder/Test 1/Android64/
Test/Mobile/Folder/Test 1/Win32/
Test/SAF/Test 1/__history/
Test/SAF/Test 1/Android/
Test/SAF/Test 1/Android64/
Test/SAF/Test 1/Objekt/Android/
Test/Thumbnails/FrameImageListBox/__history/
Test/Thumbnails/FrameImageListBox/Win32/
Test/Thumbnails/Skalieren/Test 1/__history/
Test/Thumbnails/Skalieren/Test 1/Win32/
Test/Thumbnails/Skalieren/Test 2/__history/
Test/Thumbnails/Skalieren/Test 2/Win32/
Test/Thumbnails/Skalieren/Test 3/__history/
Test/Thumbnails/Skalieren/Test 3/Android/
Test/Thumbnails/Skalieren/Test 3/Android64/
Projekt/Komponenten/TMS FMX Cloud Pack v3.7.4.0 (20 Dec 2022) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/Komponenten/TMS FNC Cloud Pack v2.5.0.4 (16 Feb 2023) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/Komponenten/Kastri/Core/__history/
