Komponenten/TMS FNC Cloud Pack__/
Komponenten/TMS FNC Cloud Pack/
Komponenten/TMS FNC Cloud Pack v2.5.0.2 (21 Dec 2022) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/ASS/BasCloud/App/Android64/
Projekt/ASS/BasCloud/App/Form/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Android/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Communication/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/const/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Datenmodul/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/dcu/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Form/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Objekt/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Thread/__history/
Projekt/ASS/Optima/Webservice/__history/
Projekt/ASS/Optima/Webservice/bin/
Projekt/ASS/Optima/Webservice/Datenbank/__history/
Projekt/ASS/Optima/Webservice/dcu/
Projekt/ASS/Optima/Webservice/Form/__history/
Projekt/ASS/Optima/Webservice/Json/__history/
Projekt/ASS/Optima/Webservice/Objekt/__history/
Projekt/Projekte/PhotoOrga/__history/
Projekt/Projekte/PhotoOrga/Android/
Projekt/Projekte/PhotoOrga/Android64/
Projekt/Projekte/PhotoOrga/Datenmodul/__history/
Projekt/Projekte/PhotoOrga/DB/__history/
Projekt/Projekte/PhotoOrga/dcu/
Projekt/Projekte/PhotoOrga/Form/__history/
Projekt/Projekte/PhotoOrga/Frame/__history/
Projekt/Projekte/PhotoOrga/Objekt/__history/
Projekt/Projekte/PhotoOrga/Thread/__history/
Projekt/Projekte/PhotoOrga/Win32/
Projekt/Projekte/PhotoOrga/types/__history/
Projekt/ASS/OptimaAPP.zip
Projekt/ASS/Mobile_Komponenten/Kastri/Tools/StyleToFSF.exe
Projekt/Projekte/PhotoOrga/bin/
Projekt/BasCloud/App/Android64/
Projekt/BasCloud/App/Bilder/AppIcon/Android/
Projekt/BasCloud/App/Form/__history/
Projekt/BasCloud/App/Datenbank/BasCloud_save.db
Projekt/BasCloud/App/Datenbank/BasCloud_save2.db
Projekt/BasCloud/App/Datenbank/BasCloud_save3.db
Projekt/BasCloud/App/Datenbank/BasCloud.db
Projekt/Mobile_Komponenten/Kastri/ThirdParty/iOS/MLKitBarcodeScanning.framework.zip
Projekt/Mobile_Komponenten/Kastri/Tools/StyleToFSF.exe
Projekt/Mobile_Komponenten/Kastri/ThirdParty/OpenSSL/1.0.2o/iOS/libcrypto.a
Projekt/Mobile_Komponenten/Kastri/ThirdParty/Firebase/iOS/Firebase.6.18.0.zip
Projekt/Mobile_Komponenten/Kastri/ThirdParty/iOS/
Projekt/Mobile_Komponenten/Kastri/ThirdParty/GoogleMobileAds/
Projekt/Optima/Mobile/BestellApp-FPZ/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Android/
Projekt/Optima/Mobile/BestellApp-FPZ/Communication/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/const/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Datenmodul/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/dcu/
Projekt/Optima/Mobile/BestellApp-FPZ/Form/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Objekt/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Thread/__history/
Projekt/Optima/Webservice/__history/
Projekt/Optima/Webservice/bin/
Projekt/Optima/Webservice/Datenbank/__history/
Projekt/Optima/Webservice/dcu/
Projekt/Optima/Webservice/Form/__history/
Projekt/Optima/Webservice/Json/__history/
Projekt/Optima/Webservice/Objekt/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/bin/
Projekt/OptimaAPP.zip
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save.db
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save2.db
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save3.db
