Komponenten/TMS FNC Cloud Pack__/
Komponenten/TMS FNC Cloud Pack/
Komponenten/TMS FNC Cloud Pack v2.5.0.2 (21 Dec 2022) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/ASS/BasCloud/App/Android64/
Projekt/ASS/BasCloud/App/Form/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Android/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Communication/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/const/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Datenmodul/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/dcu/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Form/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Objekt/__history/
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/Thread/__history/
Projekt/ASS/Optima/Webservice/__history/
Projekt/ASS/Optima/Webservice/bin/
Projekt/ASS/Optima/Webservice/Datenbank/__history/
Projekt/ASS/Optima/Webservice/dcu/
Projekt/ASS/Optima/Webservice/Form/__history/
Projekt/ASS/Optima/Webservice/Json/__history/
Projekt/ASS/Optima/Webservice/Objekt/__history/
Projekt/Projekte/PhotoOrga/__history/
Projekt/Projekte/PhotoOrga/Android/
Projekt/Projekte/PhotoOrga/Android64/
Projekt/Projekte/PhotoOrga/Datenmodul/__history/
Projekt/Projekte/PhotoOrga/DB/__history/
Projekt/Projekte/PhotoOrga/dcu/
Projekt/Projekte/PhotoOrga/Form/__history/
Projekt/Projekte/PhotoOrga/Frame/__history/
Projekt/Projekte/PhotoOrga/Objekt/__history/
Projekt/Projekte/PhotoOrga/Thread/__history/
Projekt/Projekte/PhotoOrga/Win32/
Projekt/Projekte/PhotoOrga/types/__history/
Projekt/ASS/OptimaAPP.zip
Projekt/ASS/Mobile_Komponenten/Kastri/Tools/StyleToFSF.exe
Projekt/Projekte/PhotoOrga/bin/
Projekt/BasCloud/App/Android64/
Projekt/BasCloud/App/Bilder/AppIcon/Android/
Projekt/BasCloud/App/Form/__history/
Projekt/BasCloud/App/Datenbank/BasCloud_save.db
Projekt/BasCloud/App/Datenbank/BasCloud_save2.db
Projekt/BasCloud/App/Datenbank/BasCloud_save3.db
Projekt/BasCloud/App/Datenbank/BasCloud.db
Projekt/Mobile_Komponenten/Kastri/ThirdParty/iOS/MLKitBarcodeScanning.framework.zip
Projekt/Mobile_Komponenten/Kastri/Tools/StyleToFSF.exe
Projekt/Mobile_Komponenten/Kastri/ThirdParty/OpenSSL/1.0.2o/iOS/libcrypto.a
Projekt/Mobile_Komponenten/Kastri/ThirdParty/Firebase/iOS/Firebase.6.18.0.zip
Projekt/Mobile_Komponenten/Kastri/ThirdParty/iOS/
Projekt/Mobile_Komponenten/Kastri/ThirdParty/GoogleMobileAds/
Projekt/Optima/Mobile/BestellApp-FPZ/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Android/
Projekt/Optima/Mobile/BestellApp-FPZ/Communication/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/const/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Datenmodul/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/dcu/
Projekt/Optima/Mobile/BestellApp-FPZ/Form/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Objekt/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/Thread/__history/
Projekt/Optima/Webservice/__history/
Projekt/Optima/Webservice/bin/
Projekt/Optima/Webservice/Datenbank/__history/
Projekt/Optima/Webservice/dcu/
Projekt/Optima/Webservice/Form/__history/
Projekt/Optima/Webservice/Json/__history/
Projekt/Optima/Webservice/Objekt/__history/
Projekt/Optima/Mobile/BestellApp-FPZ/bin/
Projekt/OptimaAPP.zip
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save.db
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save2.db
Projekt/ASS/BasCloud/App/Datenbank/BasCloud_save3.db
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/Firebase/iOS/Firebase.6.18.0.zip
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/GoogleMobileAds/
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/iOS/
Projekt/ASS/Mobile_Komponenten/Kastri/ThirdParty/OpenSSL/1.0.2o/iOS/libcrypto.a
Projekt/ASS/Optima/Mobile/BestellApp-FPZ/bin/
Projekt/Projekte/PhotoOrga_Alt/__history/
Projekt/Projekte/PhotoOrga_Alt/Android/
Projekt/Projekte/PhotoOrga_Alt/Android64/
Projekt/Projekte/PhotoOrga_Alt/bin/
Projekt/Projekte/PhotoOrga_Alt/Datenmodul/__history/
Projekt/Projekte/PhotoOrga_Alt/DB/__history/
Projekt/Projekte/PhotoOrga_Alt/dcu/
Projekt/Projekte/PhotoOrga_Alt/Form/__history/
Projekt/Projekte/PhotoOrga_Alt/Frame/__history/
Projekt/Projekte/PhotoOrga_Alt/Objekt/__history/
Projekt/Projekte/PhotoOrga_Alt/Thread/__history/
Projekt/Projekte/PhotoOrga_Alt/types/__history/
Projekt/Projekte/PhotoOrga_Alt/Win32/
Test/delphi-android-SAF-main/__history/
Test/delphi-android-SAF-main/Android64/
Test/delphi-android-SAF-main_Save/__history/
Test/delphi-android-SAF-main_Save/Android64/
Test/Gesten/Image/Test 1/__history/
Test/Gesten/Image/Test 1/Android/
Test/JPG/JPGInfo/Test 2/__history/
Test/JPG/JPGInfo/Test 2/Win32/
Test/Mobile/EXIF/Test 1/__history/
Test/Mobile/EXIF/Test 1/Android64/
Test/Mobile/Folder/Test 1/__history/
Test/Mobile/Folder/Test 1/Android/
Test/Mobile/Folder/Test 1/Android64/
Test/Mobile/Folder/Test 1/Win32/
Test/SAF/Test 1/__history/
Test/SAF/Test 1/Android/
Test/SAF/Test 1/Android64/
Test/SAF/Test 1/Objekt/Android/
Test/Thumbnails/FrameImageListBox/__history/
Test/Thumbnails/FrameImageListBox/Win32/
Test/Thumbnails/Skalieren/Test 1/__history/
Test/Thumbnails/Skalieren/Test 1/Win32/
Test/Thumbnails/Skalieren/Test 2/__history/
Test/Thumbnails/Skalieren/Test 2/Win32/
Test/Thumbnails/Skalieren/Test 3/__history/
Test/Thumbnails/Skalieren/Test 3/Android/
Test/Thumbnails/Skalieren/Test 3/Android64/
Projekt/Komponenten/TMS FMX Cloud Pack v3.7.4.0 (20 Dec 2022) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/Komponenten/TMS FNC Cloud Pack v2.5.0.4 (16 Feb 2023) for Delphi & CB XE7-11 Alexandria Full Source/
Projekt/Komponenten/Kastri/Core/__history/
Projekt/Komponenten/Kastri/Demos/Camera/Android/
Projekt/Komponenten/Kastri/Demos/EXIF/__history/
Projekt/Komponenten/Kastri/Demos/EXIF/Android64/
Projekt/Komponenten/Kastri/Demos/EXIF/Win32/
Projekt/Komponenten/Kastri/Demos/ShareItems/__history/
Projekt/Komponenten/Kastri/Demos/ShareItems/Android64/
Projekt/Komponenten/Kastri/ThirdParty/Firebase/iOS/Firebase.6.18.0.zip
Projekt/Komponenten/Kastri/ThirdParty/GoogleMobileAds/GoogleAppMeasurementIdentitySupport.framework/GoogleAppMeasurementIdentitySupport
Projekt/Projekte/PhotoOrga/Objekt/Android/__history/
Projekt/Projekte/PhotoOrga/Objekt/Win/__history/
Komponenten/TMS FMX Cloud Pack v3.7.4.0 (20 Dec 2022) for Delphi & CB XE7-11 Alexandria Full Source/
Komponenten/TMS VCL Cloud Pack/
Komponenten/TMS VCL Cloud Pack v4.2.1.0 (20 Dec 2022) for Delphi & CB XE-11 Alexandria Full Source/
Komponenten/TMS VCL UI Pack v12.0.1.0 (16 Apr 2023) for Delphi & CB 7-11.3 Alexandria Full Source/
Komponenten/TMS WEB Core v2.1.1.0 (16 Apr 2023) for Delphi XE7-11.3 Alexandria Full Source/
Komponenten/Winsoft Media Suite for FireMonkey v1.2 for Delphi & CB XE4-11.3 Alexandria Full Source/
Test/Exif/Windows/Test 1/__history/
Test/Exif/Windows/Test 1/Win32/
Test/Gesten/TabSlide/Test 1/__history/
Test/Gesten/TabSlide/Test 1/Win32/
Projekt/TSI/Projekt/Global/Datenbank/__history/
Projekt/TSI/Projekt/Global/Json/__history/Json.Aktie.pas.~1~
Projekt/TSI/Projekt/Global/Json/__history/
Projekt/TSI/Projekt/Global/Objekt/__history/
Projekt/TSI/Projekt/TSIAnsicht/__history/
Projekt/TSI/Projekt/TSIAnsicht/API/__history/
Projekt/TSI/Projekt/TSIAnsicht/Communication/__history/
Projekt/TSI/Projekt/TSIAnsicht/dcu/
Projekt/TSI/Projekt/TSIAnsicht/Form/__history/
Projekt/TSI/Projekt/TSIAnsicht/Objekt/__history/
Projekt/TSI/Projekt/TSIWebServer/__history/
Projekt/TSI/Projekt/TSIWebServer/Datamodul/__history/
Projekt/TSI/Projekt/TSIWebServer/dcu/
Projekt/TSI/Projekt/TSIWebServer/Form/__history/
Projekt/TSI/Projekt/TSIWebServer/Objekt/__history/
Projekt/TSI/Projekt/TSIWebServer/WebModule/__history/
Projekt/Allgemein/Vcl/Objekt/__history/
Projekt/Energieverbrauch/Win/JObjekt/__history/
Projekt/Energieverbrauch/Win/Pflege/__history/
Projekt/Energieverbrauch/Win/Pflege/bin/LogFiles/
Projekt/Energieverbrauch/Win/Pflege/bin/Energieverbrauch_MemoryManager_EventLog.txt
Projekt/Energieverbrauch/Win/Pflege/Energieverbrauch.dproj.local
Projekt/Energieverbrauch/Win/Pflege/Energieverbrauch.identcache
Projekt/Energieverbrauch/Win/Pflege/bin/Energieverbrauch.exe
Projekt/Energieverbrauch/Win/Pflege/Datenmodul/__history/
Projekt/Energieverbrauch/Win/Pflege/dcu/
Projekt/Energieverbrauch/Win/Pflege/Form/__history/
Projekt/Energieverbrauch/Win/Pflege/Objekt/__history/
Projekt/Energieverbrauch/Win/Webserver/__history/
Projekt/Energieverbrauch/Win/Webserver/Datenmodul/__history/
Projekt/Energieverbrauch/Win/Webserver/DB/__history/
Projekt/Energieverbrauch/Win/Webserver/dcu/
Projekt/Energieverbrauch/Win/Webserver/Form/__history/
Projekt/Energieverbrauch/Win/Webserver/Objekt/__history/
Projekt/Energieverbrauch/Win/Webserver/Webmodule/__history/
Projekt/Energieverbrauch/Win/Webserver/bin/ServerEnergieverbrauch.exe
Projekt/Energieverbrauch/Win/Webserver/bin/LogFiles/
Komponenten/Eigene/ASS/ASSPackage/__history/
Komponenten/Eigene/ASS/ASSPackage/Win32/Debug/
Komponenten/Eigene/ASS/NFSEditAutoComplete/__history/
Komponenten/Eigene/ASS/NFSEditBtn/__history/
Komponenten/Eigene/tb/RichviewEdit/Package/__history/
Komponenten/Eigene/tb/tbStringGrid/__history/
Komponenten/Eigene/tb/tbStringGrid/Package/__history/
Komponenten/Eigene/tb/tbStringGrid/Test/StringGridTest.exe
Komponenten/Eigene/tb/tbStringGrid/Test/StringGridTest.identcache
Projekt/Mobile/BarcodeScanner/Test 1/__history/
Projekt/Mobile/BarcodeScanner/Test 1/Android/Debug/
Projekt/Mobile/BarcodeScanner/Test 1/Win32/Debug/
Projekt/Mobile/BarcodeScanner/Test 2/__history/
Projekt/Mobile/BarcodeScanner/Test 2/Android64/Debug/
Projekt/Mobile/BarcodeScanner/Test 2/Form/__history/
Projekt/Mobile/BarcodeScanner/Test 2/Win32/Debug/
Projekt/Mobile/QRCodeErzeugen/__history/
Projekt/Mobile/QRCodeErzeugen/Android/Release/
Projekt/Mobile/QRCodeErzeugen/Android64/Debug/
Projekt/Mobile/QRCodeErzeugen/Android64/Release/
Projekt/Mobile/QRCodeErzeugen/dcu/
Projekt/Mobile/QRCodeErzeugen/Form/__history/
Projekt/Mobile/QRCodeErzeugen/Objekt/__history/
Projekt/Mobile/QRCodeErzeugen/Win32/Release/
Projekt/Mobile/QRCodeWallet/__history/
Projekt/Mobile/QRCodeWallet/Android64/Release/
Projekt/Mobile/QRCodeWallet/Datenmodul/__history/
Projekt/Mobile/QRCodeWallet/Form/__history/
Projekt/Mobile/QRCodeWallet/Frame/__history/
Projekt/Mobile/QRCodeWallet/Win32/Debug/
Projekt/Mobile/QRCodeErzeugen/bin/QRCodeErzeugen.exe
Projekt/Mobile/PhotoOrga/__history/
Projekt/Mobile/PhotoOrga/Android/Debug/
Projekt/Mobile/PhotoOrga/Android64/Debug/
Projekt/Mobile/PhotoOrga/Android64/Release/
Projekt/Mobile/PhotoOrga/bin/PhotoOrga.exe
Projekt/Mobile/PhotoOrga/Datenmodul/__history/
Projekt/Mobile/PhotoOrga/dcu/
Projekt/Mobile/PhotoOrga/Form/__history/
Projekt/Mobile/PhotoOrga/Frame/__history/
Projekt/Mobile/PhotoOrga/Objekt/__history/
Projekt/Mobile/PhotoOrga/Objekt/Android/__history/
Projekt/Mobile/PhotoOrga/Objekt/Win/__history/
Projekt/Mobile/PhotoOrga/Thread/__history/
Projekt/Mobile/PhotoOrga/types/__history/
Projekt/Mobile/PhotoOrga/Win32/Release/
Projekt/Mobile/PhotoOrga/Win64/Debug/
Projekt/Mobile/PhotoOrga/Win64/Release/
Projekt/Mobile/PhotoOrga_Alt/__history/
Projekt/Mobile/PhotoOrga_Alt/Android/Debug/
Projekt/Mobile/PhotoOrga_Alt/Android/Release/
Projekt/Mobile/PhotoOrga_Alt/Android64/Debug/
Projekt/Mobile/PhotoOrga_Alt/Android64/Release/
Projekt/Mobile/PhotoOrga_Alt/bin/PhotoOrga.exe
Projekt/Mobile/PhotoOrga_Alt/bin/PhotoOrga_MemoryManager_EventLog.txt
Projekt/Mobile/PhotoOrga_Alt/Datenmodul/__history/
Projekt/Mobile/PhotoOrga_Alt/DB/__history/
Projekt/Mobile/PhotoOrga_Alt/dcu/
Projekt/Mobile/PhotoOrga_Alt/Form/__history/
Projekt/Mobile/PhotoOrga_Alt/Frame/__history/
Projekt/Mobile/PhotoOrga_Alt/Objekt/__history/
Projekt/Mobile/PhotoOrga_Alt/Thread/__history/
Projekt/Mobile/PhotoOrga_Alt/types/__history/
Projekt/Mobile/PhotoOrga_Alt/Win32/Release/
Projekt/Filesaver/Allgemein/Objekt/__history/
Projekt/Filesaver/UI/__history/
Projekt/Filesaver/UI/dcu/
Projekt/Filesaver/UI/Form/__history/
Projekt/Filesaver/UI/bin/FilesaverUI.exe
Projekt/Filesaver/UI/FilesaverUI.res
Projekt/Filesaver/UI/FilesaverUI.identcache
Projekt/Filesaver/UI/FilesaverUI.dproj.local
Projekt/Filesaver/FileSaverGroup.groupproj.local
*.~1~
*.~2~
*.~3~
*.~4~
*.~5~
*.~6~
Project1.dproj.local
Project1.identcache
Project1.res
Projekt/ASS/BasCloud/App/Form/__recovery/__recovery.ini
Projekt/ASS/BasCloud/App/Form/__recovery/
~10~
*.~10~
*.~11~
*.~12~
*.~7~
*.~8~
*.~9~
Projekt/Energieverbrauch/fmx/Android/
Projekt/Energieverbrauch/fmx/dcu/
*.~13~
*.~19~
*.~20~
*.~21~
*.~22~
*.~23~
*.~24~
*.~25~
*.~26~
*.~27~
*.~28~
*.~14~
*.~15~
*.~16~
*.~17~
Projekt/Energieverbrauch/fmx/Form/__recovery/
Test/Sidebar/Test 1/SidebarTest1.res
Test/Sidebar/Test 1/Win32/
Win32/
Test/Sidebar/Test 1/SidebarTest1.dproj.local
Test/Sidebar/Test 1/SidebarTest1.identcache
Projekt/Energieverbrauch/fmx/EnergieverbrauchApp.dproj.local
Projekt/Energieverbrauch/fmx/EnergieverbrauchApp.identcache
Projekt/Energieverbrauch/fmx/EnergieverbrauchApp.res
Projekt/Energieverbrauch/fmx/bin/32/EnergieverbrauchApp.exe
