Bold RT_RCDATA "Icons\Fett.bmp"
Italic RT_RCDATA "Icons\Kursiv.bmp"
Underline RT_RCDATA "Icons\Unterstrichen.bmp"
Left RT_RCDATA "Icons\Links.bmp"
Center RT_RCDATA "Icons\Mittig.bmp"
Right RT_RCDATA "Icons\Rechts.bmp"
Justify RT_RCDATA "Icons\Block.bmp"
Fontfavoriten RT_RCDATA "Icons\Favoriten.bmp"
FontColor RT_RCDATA "Icons\Fontfarbe.bmp"
BackgroundColor RT_RCDATA "Icons\Fontfarbe2.bmp"
ParagraphBackgroundColor RT_RCDATA "Icons\Fontfarbe3.bmp"
IdentInc RT_RCDATA "Icons\EinrückenRechts.bmp"
IdentDec RT_RCDATA "Icons\EinrückenLinks.bmp"
Save RT_RCDATA "Icons\Speichern.bmp"
Open RT_RCDATA "Icons\Öffnen.bmp"
Picture RT_RCDATA "Icons\Bild.bmp"
LargeEditor RT_RCDATA "Icons\Editor.bmp"
TextHoch RT_RCDATA "Icons\Hoch.bmp"
TextTief RT_RCDATA "Icons\Tief.bmp"
StandardFont RT_RCDATA "Icons\Standardfont.bmp"
Bullets RT_RCDATA "Icons\AufzählungPunkt.bmp"
Number RT_RCDATA "Icons\AufzählungZahl.bmp"
LineSpace RT_RCDATA "Icons\Zeilenabstand.bmp"
Print RT_RCDATA "Icons\Drucken.bmp"
Clipboard RT_RCDATA "Icons\Clipboard.bmp"
Reverse RT_RCDATA "Icons\Rückgängig.bmp"
Cut RT_RCDATA "Icons\Ausschneiden.bmp"
Paste RT_RCDATA "Icons\Paste.bmp"
SpellCheck RT_RCDATA "Icons\SpellCheck.bmp"


